html {
  margin : 0;
  padding: 0;
  height : 100%;
}

body {
  margin     : 0;
  padding    : 0;
  width      : 100%;
  height     : 100%;
  font-family: 'Ubuntu-Mono', monospace;
  font-size  : 12px;
  line-height: 20px;
  font-weight: 400;
  color      : white;
  background : black;

  overflow: hidden;

  display              : grid;
  grid-auto-flow       : column;
  grid-template-columns: 1fr 1fr;
  gap                  : 2em;
  align-items          : flex-start;
}

section {
  width : 100%;
  height: 100%;
}

textarea {
  width              : 100%;
  height             : 100%;
  resize             : none;
  box-sizing         : border-box;
  margin             : 0;
  padding            : 0;
  border-block-width : 0;
  border-image-width : 0;
  border-inline-width: 0;
}